html {
  scroll-behavior: smooth;
}

.full-height {
  height: calc(100vh - 5rem);
  height: calc(100dvh - 5rem);
}

.open span:first-child {
  transform: rotateZ(45deg);
  translate: 0 -2px;
}
.open span:nth-child(2) {
  opacity: 0;
}
.open span:nth-child(3) {
  transform: rotateZ(-45deg);
}

.icon img {
  transition: translate 200ms;
}

.icon:hover img {
  translate: 0 -10px;
}

.navbar, .hamburger {
  display: none;
}

.project-image {
  width: 30rem;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: block;
    width: 8rem;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 4.5rem;
    right: 1rem;
    background-color: #2a2a2a;
  }

  .hamburger {
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .hamburger span {
    --transition-duration: 200ms;
    width: 23px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    border-radius: 3px;
    transition: transform var(--transition-duration),
      translate var(--transition-duration), opacity var(--transition-duration);
  }
  
}

.opacity-animation {
  animation: load 3s ease 1 alternate;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
